<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
        <add key="ApiKey" value="mojMagicniKljuc" />
		<add key="LEA" value="12345678901234567890123456789012"/>
		<add key="IV" value="IV12345678901234"/>
    </appSettings>
</configuration>
